@inject IMapper mapper
@inject IUIService uiService
@inject ITaskApiService taskApiService
@inject IResourceHandler resourceHandler
@inject Blazored.Toast.Services.IToastService toastService

<Modal @ref="@TaskModalContext.Modal" @bind-Visible="isModalVisible" Closing="@(async (e) => await OnModalClosing(e))" Class="modal-dialog-wide" Border="Border.Rounded">
    @if (isModalVisible)
    {
        @if (TaskModalContext.TaskMetadata.InitializationInProgres)
        {
            <BackgroundLoadSpinner Class="bg-custom-primary text-custom-primary background-load-spinner-overlay" TextSize="TextSize.Large" />
        }

        <ModalContent Centered Shadow="Shadow.Small">
            @if (isTaskLoading)
            {
                <ContentLoadSpinner />
            }
            else
            {
                <GenericModalHeader DisplayText="@($"{resourceHandler.GetResource($"{UIConstants.Base}.{UIConstants.Generic}.{UIActionConstants.Save}")}{(string.IsNullOrWhiteSpace(TaskModalContext.Task.Config?.Name) ? string.Empty : $" - {TaskModalContext.Task.Config.Name}")}")" />

                <ModalBody Padding="Padding.Is0" Class="bg-custom-primary text-custom-primary">
                    <Container Fluid>
                        <Row>
                            <Column ColumnSize="ColumnSize.IsFull">
                                <Validations @ref="TaskModalContext.Validations"
                                             Mode="ValidationMode.Auto"
                                             ValidateOnLoad="false"
                                             EditContext="TaskModalContext.EditContext"
                                             HandlerType="ValidationHandlerType.DataAnnotation">

                                    <Form Margin="Margin.Is1.FromTop.Is3.FromBottom" Class="text-form-size" Padding="Padding.Is3">
                                        <TaskSubitemsDataFormSection TaskModalContext="TaskModalContext" />
                                    </Form>
                                </Validations>
                            </Column>
                        </Row>

                    </Container>
                </ModalBody>
                <TaskEditModalFooter TaskModalContext="TaskModalContext" @ref="@TaskEditModalFooter" />

            }
        </ModalContent>
    }
</Modal>

@code {
    [Parameter]
    public TaskInfoDto TaskInfo { get; set; } = new();

    [Parameter]
    public DataOperation Operation { get; set; }

    private TaskModalContext TaskModalContext { get; set; }
    private TaskEditModalFooter TaskEditModalFooter = new();

    private bool isTaskLoading = false;
    private bool isModalVisible = false;
    private CancellationTokenSource? cancellationTokenSource;

    public TaskEditModal()
    {
        TaskModalContext = new TaskModalContext(new(), TaskInfo, new(), new(), Operation, new());
    }

    private async Task ResetCancellationToken()
    {
        if (cancellationTokenSource is not null)
        {
            await cancellationTokenSource.CancelAsync();
            cancellationTokenSource.Dispose();
        }
        cancellationTokenSource = new();
    }

    private async Task OnModalClosing(ModalClosingEventArgs e)
    {
        e.Cancel = e.CloseReason != CloseReason.UserClosing;
        if (!e.Cancel)
        {
            isModalVisible = false;
            await ResetCancellationToken();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        TaskModalContext.EditContext = new EditContext(TaskModalContext.Task);
        TaskModalContext.EditContext.OnFieldChanged += OnFieldChanged;
        await base.OnInitializedAsync();
    }

    private async void OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        var evaluationNeeded = TaskViewMetadataDto.OptionsReloadNecessary(e.FieldIdentifier.FieldName);
        if (evaluationNeeded)
        {
            TaskModalContext.TaskMetadata.InitializationInProgres = true;
            await ResetCancellationToken();

            try
            {
                var token = cancellationTokenSource!.Token;
                await System.Threading.Tasks.Task.Run(async () =>
                {
                    if (!token.IsCancellationRequested)
                    {
                        await uiService.CallRequestRefreshAsync();

                        var updated = await taskApiService.RefreshTaskOptions(TaskModalContext.Task.ID, TaskModalContext.Task);
                        if (updated is not null && !token.IsCancellationRequested)
                        {
                            mapper.Map(updated, TaskModalContext.Task);
                        }
                    }

                }, token);
            }
            catch (TaskCanceledException)
            { }
            finally
            {
                TaskModalContext.TaskMetadata.InitializationInProgres = false;
                await uiService.CallRequestRefreshAsync();
            }
        }
    }

    private Task ShowModal()
    {
        isModalVisible = true;
        return TaskModalContext.Modal.Show();
    }

    public async Task Show()
    {
        isTaskLoading = true;
        await ResetCancellationToken();
        await ShowModal();

        if (Operation == DataOperation.INSERT)
        {
            var inserted = await taskApiService.InsertTask();
            if (inserted is not null)
            {
                mapper.Map(inserted, TaskModalContext.Task);
                TaskInfo = mapper.Map<TaskInfoDto>(inserted);
            }
        }
        else
        {
            var opened = await taskApiService.LoadTask(TaskInfo.ID, false);
            if (opened is not null)
            {
                mapper.Map(opened, TaskModalContext.Task);
            }
        }

        isTaskLoading = false;
        await uiService.CallRequestRefreshAsync();
    }
}