@inject IUIManager uiManager

<Row Style="@($"background-color: {uiManager.Theme.BackgroundOptions.Primary}; color: {uiManager.Theme.TextColorOptions.Primary}")">
    <Column ColumnSize="ColumnSize.Is12">
        <Div TextAlignment="TextAlignment.Center" Margin="Margin.Is5.FromTop.Is5.FromBottom">
            <Div Class="spinner-border">
                <Anchor Class="visually-hidden"/>
            </Div>
        </Div>
    </Column>
</Row>