<Div Style="@(Style ?? string.Empty)" Class="@((string.IsNullOrWhiteSpace(Class) ? Class : "background-load-spinner-overlay"))"
     TextAlignment="TextAlignment.End"
     TextColor="@(TextColor ?? TextColor.White)">
    <Span Class="spinner-border" role="status" aria-hidden="true"></Span>
</Div>

@code {
    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public TextColor? TextColor { get; set; }

    [Parameter]
    public IFluentTextSize? TextSize { get; set; }

    [Parameter]
    public string? Class { get; set; }
}