@inject IResourceHandler resourceHandler

<CardFooter Border="Border.Is0" Background="Background.White">
    <Container Fluid>
        <Row>

            <Column ColumnSize="ColumnSize.IsFull" TextAlignment="TextAlignment.End" TextColor="TextColor.Black50">
                <Text>
                    @($"{resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskMessageDto>(nameof(TaskMessageDto.DateCreated), PropertyDisplayResourceType.FIELD))}: ")
                </Text>
                <Span TextWeight="TextWeight.Bold">
                    @(Message.DateCreated.ToLocalTime().ToString("dd.MM.yyyy - HH:mm:ss"))
                </Span>
            </Column>

        </Row>
    </Container>
</CardFooter>

@code {
    [CascadingParameter]
    public TaskMessageDto Message { get; set; } = null!;
}
