@inject IResourceHandler resourceHandler

<CardFooter Border="Border.Is0" Class="bg-custom-secondary">
    <Container Fluid>
        <Row>

            <Column ColumnSize="ColumnSize.IsFull" TextAlignment="TextAlignment.End" Class="text-custom-muted">
                <Text>
                    @($"{resourceHandler.GetResource(AttributeExtensions.GetResourceFieldValue<TaskMessageDto>(nameof(TaskMessageDto.DateCreated), PropertyDisplayResourceType.FIELD))}: ")
                </Text>
                <Span TextWeight="TextWeight.Bold">
                    @(Message.DateCreated.ToLocalTime().ToString("dd.MM.yyyy - HH:mm:ss"))
                </Span>
            </Column>

        </Row>
    </Container>
</CardFooter>

@code {
    [Parameter]
    public TaskMessageDto Message { get; set; } = new();
}
